#pricetag {
    color: green;
}

.cart  {
    color: black;
    background-color: yellow;
    width: 110px;
    height: 25px;
    border: none;
    border-radius: 12.5px;
}

.cart:hover {
    background-color: red;
}

.buy  {
    color: black;
    background-color: rgb(210, 158, 14);
    width: 110px;
    height: 25px;
    border: none;
    border-radius: 12.5px;
}
